<table class="table table-bordered table-condensed">
	<tr>
		<th>Descripcion</th>
		<th>Opciones</th>
	</tr>
	<tr>
		<td>Host Alternativo de Recusro</td>
		<td>
			<div class="form-group col-sm-8"><input type="url" ng-model="HostSrc" class="form-control input-sm"></div>
			<button ng-click="saveHostingSrc()" class="btn btn-primary btn-sm">Guardar</button>
			<button ng-click="removeHostingSrc()" class="btn btn-danger btn-sm">Eliminar</button>
		</td>
	</tr>
	<tr>
		<td>Sessión</td>
		<td><button class="btn btn-warning btn-sm" ng-click="clearSession()">Limpiar Sessión</button></td>
	</tr>
</table>