<div class="row">
	<div class="col-sm-4 col-sm-offset-2">
		<img src="img/logo.png" class="img-responsive">
	</div>
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2" style="position: relative;top: 20px;">
		<div class="jumbotron" style="padding-bottom: 80px;">
			<h2>¡Gracias por sus respuestas!</h2>
			<p class="text-justify">Ha finalizado con éxito el proceso de evaluación de alfabetización digital.</p>
				<a href="#!/welcome" class="btn btn-success pull-right">Terminar</a>
		</div>
	</div>
</div>
