<div class="row">
	<div class="col-sm-4 col-sm-offset-2">
		<img src="img/logo.png" class="img-responsive">
	</div>
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2" style="position: relative;top: 20px;">
		<div class="jumbotron" style="padding-bottom: 80px;">
			<h2>Alfabetización Digital</h2>
			<p class="text-justify">Ha sido desarrollada con la finalidad de medir y demostrar las competencias en el área digital.</p>
				<a href="#!/register" class="btn btn-success pull-right">Ingresar</a>
		</div>
	</div>
</div>
