<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Bienvenido a Qualitat Corp</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-8" style="padding-top: 50px;padding-bottom: 50px">
				 	<p>Bienvenido a la Plataforma de Certificación <strong>QPLAN</strong><br>Qualitatcorp todos los derechos reservados.</p>
				</div>
				<div class="col-md-4" style="padding-top: 50px;padding-bottom: 50px">
					<img src="img/logo.png" alt="Qualitatcorp" height="50">
				</div>
			</div>
		</div>
	</div>	
</div>