<div class="row">
	<div class="well col-md-3">
		<ul class="nav nav-pills nav-stacked">
		<li><span>Opciones</span></li>
		<li><a href="#!/perfil/admin">Administrar Perfiles</a></li>
		<li><a href="#!/perfil/edit/{{perfil.id}}">Editar Perfil</a></li>
  		<li><a   
						mwl-confirm
						title="Eliminar a perfil {{perfil.nombre}}"
						message="Seguro que desea quitar a {{ perfil.nombre }}"
						placement="right"
						confirm-text="Eliminar"
						cancel-text="Cancelar"
						on-confirm="remove(perfil.id)"
						confirm-button-type="danger"
						cancel-button-type="default">
						Eliminar Perfil
					</a></li>
		</ul>
		</div>	
	<div class="col-md-9">
	<div class="page-header">
			<h1>Ver <small>a {{perfil.nombre}}</small></h1>
		</div>
		<h2>Datos</h2>
		<div class="table-responsive">          
			<table class="table table-bordered">
				<tbody>
					<tr>
						<th>Nombre</th>
						<td>{{perfil.nombre}}</td>
					</tr>
					<tr>
						<th>Descripción</th>
						<td>{{perfil.descripcion}}</td>
					</tr>
					<tr>
						<th>Documento</th>
						<td>{{perfil.documento}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button onclick="window.history.back()" class="btn btn-default">Volver</button>
	</div>
</div>