<div class="row">
	<div class="well col-md-3">
		<ul class="nav nav-pills nav-stacked">
		<li><span>Opciones</span></li>
  		<li><a href="#!/empresa/edit/{{empresa.id}}">Editar</a></li>
  		<li><a href="#">Eliminar</a></li>
  		<li><span>Usuario</span></li>
  		<li><a href="#">Ver Usuarios</a></li>
  		<li><a href="#">Crear Usuarios</a></li>
  		<li><span>Evaluación</span></li>
  		<li><a href="#">Ver Fichas</a></li>
  		<li><a href="#">Crear Clasificación</a></li>
  		<li><span>Orden de Trabajo</span></li>
  		<li><a href="#">Ver Órdenes</a></li>
  		<li><a href="#">Ingresar Orden</a></li>
		</ul>
	</div>	
	<div class="col-md-9">
	<div class="page-header">
			<h1>{{empresa.nombre}} <small>Empresa</small></h1>
		</div>
		<div class="table-responsive">          
			<table class="table table-bordered">
				<tbody>
					<tr>
						<th>Nombre</th>
						<td>{{empresa.nombre}}</td>
						<th>RUT</th>
						<td>{{empresa.rut}}</td>
					</tr>
					<tr>
						<th>Razón Social</th>
						<td>{{empresa.razon}}</td>
						<th>Giro</th>
						<td>{{empresa.giro}}</td>
					</tr>
					<tr>
						<th>Fono</th>
						<td>{{empresa.fono}}</td>
						<th>Email</th>
						<td>{{empresa.mail}}</td>
					</tr>
					<tr>
						<th>Pais</th>
						<td>{{empresa.comuna.nombre}}</td>
						<th>Comuna</th>
						<td>{{empresa.pais.nombre}}</td>
					</tr>
					<tr>
						<th>Habilitada</th>
						<td>{{empresa.habilitada}}</td>
						<th>Creada</th>
						<td>{{empresa.creada}}</td>			
					</tr>
				</tbody>
			</table>
		</div>
		<button onclick="window.history.back()" class="btn btn-default">Volver</button>
	</div>
</div>